  <div class="form-success hide" data-reset-success>
    <div class="form-success-container">
      <div class="login_header_wrapper">
          <h1>Link sent!</h1>
            <div class="p-gap">
              <p>Thank you for submitting your email address.</p>
              <p>If you already have an account, you will receive an email with the information need to reset your password. </p>
          </div>
        </div>
      </div>
  </div>

<div class="login_header_wrapper">
    <h1>Reset Password</h1>
    <p>Enter your email and we’ll send you a link to reset your password..</p>
  </div>

{% form 'recover_customer_password' %}
  {{ form.errors | default_errors }}

  {% if form.posted_successfully? %}
    <span class="hide" data-form-state></span>
  {% endif %}

<p class="label-set">{{ 'customer.login.email' | t }}</p>
  <div class="form-element js-form-field">
    <input 
      type="email"
      name="email"
      id="RecoverEmail"
      spellcheck="false"
      autocomplete="off"
      autocapitalize="off">
  </div>

  <label>
    <input 
      type="submit" 
      class="btn btn--lightbrown btn-subscribe" 
      value="{{ 'customer.recover_password.submit' | t }}">

    <svg class="logged-in" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 24">
      <path fill="#ffffff" d="M1.5 13.5a1.5 1.5 0 010-3h23.379l-7.94-7.94A1.5 1.5 0 1119.062.44l10.5 10.5a1.5 1.5 0 010 2.12l-10.5 10.5a1.5 1.5 0 01-2.122-2.12l7.94-7.94H1.5z"/>
    </svg>
  </label>

    <div class="forgot-password-container" style="justify-content: center;">
    <div class="forgot-wrapper">
      <a href="/account/login" data-recover-toggle class="Login__link">Cancel</a>
      </div>
    </div>
{% endform %}