<div class="size-chart">
  <div class="container">
    <div class="size-head">
      <h2>Kids Clothes</h2>
      <hr>
    </div>
    
    <div class="size-subhead">
      <h2>Unisex Chef Jacket</h2>
    </div>
    
    <div class="table">
       <table class="Table  variant-TableRow">
        <thead class="Table__header">
          <tr class="Table__header-row ">
            <th class="Table__header-cell" style="--width:auto;">Metric Sizes</th>
            <th class="Table__header-cell" style="--width:auto;">XXS</th>
            <th class="Table__header-cell" style="--width:auto;">XS</th>
            <th class="Table__header-cell" style="--width:auto;">S</th>
            <th class="Table__header-cell" style="--width:auto;">M</th>
            <th class="Table__header-cell" style="--width:auto;">L</th>
            <th class="Table__header-cell" style="--width:auto;">XL</th>
            <th class="Table__header-cell" style="--width:auto;">XXL</th>
            <th class="Table__header-cell" style="--width:auto;">3XL</th>
            <th class="Table__header-cell" style="--width:auto;">4XL</th>
          </tr>
        </thead>
        
        <tbody class="Table__body">          
            <tr class="TableRow">
            <td class="table-row-cell">To Fit Chest (cm)</td>
            <td class="table-row-cell">80-85</td>
            <td class="table-row-cell">85-90</td>
            <td class="table-row-cell">90-95</td>
            <td class="table-row-cell">95-100</td>
            <td class="table-row-cell">100-110</td>
            <td class="table-row-cell">110-120</td>
            <td class="table-row-cell">120-130</td>
            <td class="table-row-cell">120-130</td>
            <td class="table-row-cell">130-140</td>
            <td class="table-row-cell">140-150</td>
          </tr>
        </tbody>
    	</table>
      
    <div class="size-subhead">
      <h2>Unisex Food Industry Jerking and Waiters Jackets</h2>
    </div>
       <table class="Table  variant-TableRow">
        <thead class="Table__header">
          <tr class="Table__header-row ">
            <th class="Table__header-cell" style="--width:auto;">Metric Sizes</th>
            <th class="Table__header-cell" style="--width:auto;">XS</th>
            <th class="Table__header-cell" style="--width:auto;">S</th>
            <th class="Table__header-cell" style="--width:auto;">M</th>
            <th class="Table__header-cell" style="--width:auto;">L</th>
            <th class="Table__header-cell" style="--width:auto;">XL</th>
            <th class="Table__header-cell" style="--width:auto;">XXL</th>
            <th class="Table__header-cell" style="--width:auto;">3XL</th>
            <th class="Table__header-cell" style="--width:auto;">4XL</th>
          </tr>
        </thead>
        
        <tbody class="Table__body">          
            <tr class="TableRow">
            <td class="table-row-cell">To Fit Chest (cm)</td>
            <td class="table-row-cell">85-90</td>
            <td class="table-row-cell">90-95</td>
            <td class="table-row-cell">95-100</td>
            <td class="table-row-cell">100-110</td>
            <td class="table-row-cell">110-120</td>
            <td class="table-row-cell">120-130</td>
            <td class="table-row-cell">130-135</td>
            <td class="table-row-cell">135-140</td>
          </tr>
        </tbody>
    	</table>
      
    <div class="size-subhead">
      <h2>Jacket and Safety Vests/ Unisex Dust Coats</h2>
    </div>
      
       <table class="Table  variant-TableRow">
        <thead class="Table__header">
          <tr class="Table__header-row ">
            <th class="Table__header-cell" style="--width:auto;">Metric Sizes</th>
            <th class="Table__header-cell" style="--width:auto;">XS</th>
            <th class="Table__header-cell" style="--width:auto;">S</th>
            <th class="Table__header-cell" style="--width:auto;">M</th>
            <th class="Table__header-cell" style="--width:auto;">L</th>
            <th class="Table__header-cell" style="--width:auto;">XL</th>
            <th class="Table__header-cell" style="--width:auto;">XXL</th>
            <th class="Table__header-cell" style="--width:auto;">3XL</th>
            <th class="Table__header-cell" style="--width:auto;">4XL</th>
            <th class="Table__header-cell" style="--width:auto;">5XL</th>
            <th class="Table__header-cell" style="--width:auto;">6XL</th>
            <th class="Table__header-cell" style="--width:auto;">8XL</th>
          </tr>
        </thead>
        
         <tbody class="Table__body">          
            <tr class="TableRow">
            <td class="table-row-cell">Stretched Waist(cm)</td>
            <td class="table-row-cell">87R</td>
            <td class="table-row-cell">92R</td>
            <td class="table-row-cell">97R</td>
            <td class="table-row-cell">102R</td>
            <td class="table-row-cell">107R</td>
            <td class="table-row-cell">138</td>
            <td class="table-row-cell">146</td>
            <td class="table-row-cell">150</td>
            <td class="table-row-cell">138</td>
            <td class="table-row-cell">146</td>
            <td class="table-row-cell">150</td>
          </tr>
        </tbody>
         
        <tbody class="Table__body">          
            <tr class="TableRow">
            <td class="table-row-cell">Length (cm)</td>
            <td class="table-row-cell">85-90</td>
            <td class="table-row-cell">90-95</td>
            <td class="table-row-cell">95-100</td>
            <td class="table-row-cell">110-115</td>
            <td class="table-row-cell">115-120</td>
            <td class="table-row-cell">120-130</td>
            <td class="table-row-cell">130-140</td>
            <td class="table-row-cell">140-150</td>
            <td class="table-row-cell">150-160</td>
            <td class="table-row-cell">165-175</td>
            <td class="table-row-cell">130-135</td>
          </tr>
        </tbody>
    	</table>
      
     <div class="size-subhead">
      <h2>Overall Pants & Shorts (Overalls normaly work one sizes larger, Being a one piece garment, shorts-Measure by waist)</h2>
    </div>
    
       <table class="Table  variant-TableRow">
        <thead class="Table__header">
          <tr class="Table__header-row ">
            <th class="Table__header-cell" style="--width:auto;">Metric Sizes</th>
            <th class="Table__header-cell" style="--width:auto;">72R</th>
            <th class="Table__header-cell" style="--width:auto;">77R</th>
            <th class="Table__header-cell" style="--width:auto;">82R</th>
            <th class="Table__header-cell" style="--width:auto;">87R</th>
            <th class="Table__header-cell" style="--width:auto;">92R</th>
            <th class="Table__header-cell" style="--width:auto;">97R</th>
            <th class="Table__header-cell" style="--width:auto;">102R</th>
            <th class="Table__header-cell" style="--width:auto;">107R</th>
            <th class="Table__header-cell" style="--width:auto;">112R</th>
            <th class="Table__header-cell" style="--width:auto;">117R</th>
            <th class="Table__header-cell" style="--width:auto;">74L</th>
            <th class="Table__header-cell" style="--width:auto;">79L</th>
            <th class="Table__header-cell" style="--width:auto;">84L</th>
            <th class="Table__header-cell" style="--width:auto;">89L</th>
            <th class="Table__header-cell" style="--width:auto;">94L</th>
          </tr>
        </thead>
        
         <tbody class="Table__body">          
            <tr class="TableRow">
            <td class="table-row-cell">Imperial Sizes</td>
            <td class="table-row-cell">2</td>
            <td class="table-row-cell">3</td>
            <td class="table-row-cell">4</td>
            <td class="table-row-cell">5</td>
            <td class="table-row-cell">6</td>
            <td class="table-row-cell">7</td>
            <td class="table-row-cell">8</td>
            <td class="table-row-cell">9</td>
            <td class="table-row-cell">10</td>
            <td class="table-row-cell">11</td>
            <td class="table-row-cell">3<sup>1</sup>&frasl;<sub>2</sub></td>
            <td class="table-row-cell">4<sup>1</sup>&frasl;<sub>2</sub></td>
            <td class="table-row-cell">5<sup>1</sup>&frasl;<sub>2</sub></td>
            <td class="table-row-cell">6<sup>1</sup>&frasl;<sub>2</sub></td>
            <td class="table-row-cell">7<sup>1</sup>&frasl;<sub>2</sub></td>
          </tr>
        </tbody>
         
        <tbody class="Table__body">          
            <tr class="TableRow">
            <td class="table-row-cell">Chest (cm)</td>
            <td class="table-row-cell">82</td>
            <td class="table-row-cell">87</td>
            <td class="table-row-cell">92</td>
            <td class="table-row-cell">97</td>
            <td class="table-row-cell">102</td>
            <td class="table-row-cell">107</td>
            <td class="table-row-cell">112</td>
            <td class="table-row-cell">117</td>
            <td class="table-row-cell">122</td>
            <td class="table-row-cell">127</td>
            <td class="table-row-cell">87</td>
            <td class="table-row-cell">92</td>
            <td class="table-row-cell">97</td>
            <td class="table-row-cell">102</td>
            <td class="table-row-cell">107</td>
          </tr>
        </tbody>
         
   	    <tbody class="Table__body">          
            <tr class="TableRow">
            <td class="table-row-cell">Waist (cm)</td>
            <td class="table-row-cell">72</td>
            <td class="table-row-cell">77</td>
            <td class="table-row-cell">82</td>
            <td class="table-row-cell">87</td>
            <td class="table-row-cell">92</td>
            <td class="table-row-cell">97</td>
            <td class="table-row-cell">102</td>
            <td class="table-row-cell">107</td>
            <td class="table-row-cell">112</td>
            <td class="table-row-cell">117</td>
            <td class="table-row-cell">74</td>
            <td class="table-row-cell">79</td>
            <td class="table-row-cell">84</td>
            <td class="table-row-cell">89</td>
            <td class="table-row-cell">94</td>
          </tr>
        </tbody>
         
         <tbody class="Table__body">          
            <tr class="TableRow">
            <td class="table-row-cell">Inner Leg (cm)</td>
            <td class="table-row-cell">71</td>
            <td class="table-row-cell">74</td>
            <td class="table-row-cell">77</td>
            <td class="table-row-cell">79</td>
            <td class="table-row-cell">82</td>
            <td class="table-row-cell">83</td>
            <td class="table-row-cell">84</td>
            <td class="table-row-cell">85</td>
            <td class="table-row-cell">87</td>
            <td class="table-row-cell">89</td>
            <td class="table-row-cell">79</td>
            <td class="table-row-cell">80</td>
            <td class="table-row-cell">83</td>
            <td class="table-row-cell">85</td>
            <td class="table-row-cell">87</td>
          </tr>
        </tbody>
    	</table>
      <hr>
      
      <table class="Table  variant-TableRow">
        <thead class="Table__header">
          <tr class="Table__header-row ">
            <th class="Table__header-cell" style="--width:auto;">Metric Sizes</th>
            <th class="Table__header-cell" style="--width:auto;">87ST</th>
            <th class="Table__header-cell" style="--width:auto;">92ST</th>
            <th class="Table__header-cell" style="--width:auto;">97ST</th>
            <th class="Table__header-cell" style="--width:auto;">102ST</th>
            <th class="Table__header-cell" style="--width:auto;">107ST</th>
            <th class="Table__header-cell" style="--width:auto;">112ST</th>
            <th class="Table__header-cell" style="--width:auto;">117ST</th>
            <th class="Table__header-cell" style="--width:auto;">122ST</th>
            <th class="Table__header-cell" style="--width:auto;">127ST</th>
            <th class="Table__header-cell" style="--width:auto;">132ST</th>
          </tr>
        </thead>
        
         <tbody class="Table__body">          
            <tr class="TableRow">
            <td class="table-row-cell">Imperial Sizes</td>
            <td class="table-row-cell">3<sup>1</sup>&frasl;<sub>2</sub></td>
            <td class="table-row-cell">4<sup>1</sup>&frasl;<sub>2</sub></td>
      		<td class="table-row-cell">5<sup>1</sup>&frasl;<sub>2</sub></td>
            <td class="table-row-cell">6<sup>1</sup>&frasl;<sub>2</sub></td>
            <td class="table-row-cell">7<sup>1</sup>&frasl;<sub>2</sub></td>
            <td class="table-row-cell">8<sup>1</sup>&frasl;<sub>2</sub></td>
            <td class="table-row-cell">9<sup>1</sup>&frasl;<sub>2</sub></td>
            <td class="table-row-cell">10<sup>1</sup>&frasl;<sub>2</sub></td>
            <td class="table-row-cell">11<sup>1</sup>&frasl;<sub>2</sub></td>
            <td class="table-row-cell">12<sup>1</sup>&frasl;<sub>2</sub></td>
          </tr>
        </tbody>
         
       <tbody class="Table__body">          
            <tr class="TableRow">
            <td class="table-row-cell">Chest (cm)</td>
            <td class="table-row-cell">98</td>
            <td class="table-row-cell">97</td>
            <td class="table-row-cell">102</td>
            <td class="table-row-cell">107</td>
            <td class="table-row-cell">112</td>
            <td class="table-row-cell">117</td>
            <td class="table-row-cell">122</td>
            <td class="table-row-cell">127</td>
            <td class="table-row-cell">132</td>
            <td class="table-row-cell">137</td> 
          </tr>
        </tbody>
         
            
         <tbody class="Table__body">          
            <tr class="TableRow">
            <td class="table-row-cell">Waist (cm)</td>
            <td class="table-row-cell">87</td>
            <td class="table-row-cell">92</td>
            <td class="table-row-cell">97</td>
            <td class="table-row-cell">102</td>
            <td class="table-row-cell">107</td>
            <td class="table-row-cell">112</td>
            <td class="table-row-cell">117</td>
            <td class="table-row-cell">122</td>
            <td class="table-row-cell">127</td>
            <td class="table-row-cell">132</td>
          </tr>
        </tbody>
         
           <tbody class="Table__body">          
            <tr class="TableRow">
            <td class="table-row-cell">Inner Leg (cm)</td>
            <td class="table-row-cell">69</td>
            <td class="table-row-cell">72</td>
            <td class="table-row-cell">74</td>
            <td class="table-row-cell">77</td>
            <td class="table-row-cell">79</td>
            <td class="table-row-cell">80</td>
            <td class="table-row-cell">80</td>
            <td class="table-row-cell">82</td>
            <td class="table-row-cell">83</td>
            <td class="table-row-cell">83</td>
          </tr>
        </tbody>
      </table>
      
       <div class="size-subhead">
      <h2>Overall Pants & Shorts (Overalls normaly work one sizes larger, Being a one piece garment, shorts-Measure by waist)</h2>
    </div>
    
       <table class="Table  variant-TableRow">
        <thead class="Table__header">
          <tr class="Table__header-row ">
            <th class="Table__header-cell" style="--width:auto;">Metric Sizes</th>
            <th class="Table__header-cell" style="--width:auto;">XXS</th>
            <th class="Table__header-cell" style="--width:auto;">XS</th>
            <th class="Table__header-cell" style="--width:auto;">S</th>
            <th class="Table__header-cell" style="--width:auto;">M</th>
            <th class="Table__header-cell" style="--width:auto;">L</th>
            <th class="Table__header-cell" style="--width:auto;">XL</th>
            <th class="Table__header-cell" style="--width:auto;">XXL</th>
            <th class="Table__header-cell" style="--width:auto;">3XL</th>
            <th class="Table__header-cell" style="--width:auto;">4XL</th>
            <th class="Table__header-cell" style="--width:auto;">5XL</th>
            <th class="Table__header-cell" style="--width:auto;">6XL</th>
            <th class="Table__header-cell" style="--width:auto;">7XL</th>
            <th class="Table__header-cell" style="--width:auto;">8XL</th>
          </tr>
        </thead>
        
         <tbody class="Table__body">          
            <tr class="TableRow">
            <td class="table-row-cell">To Fit Neck (cm)</td>
            <td class="table-row-cell">(32-33)</td>
            <td class="table-row-cell">(34-35)</td>
            <td class="table-row-cell">(36-37)</td>
            <td class="table-row-cell">(38-39)</td>
            <td class="table-row-cell">(41-42)</td>
            <td class="table-row-cell">(43-44)</td>
            <td class="table-row-cell">(45-46)</td>
            <td class="table-row-cell">(47-48)</td>
            <td class="table-row-cell">(49-50)</td>
            <td class="table-row-cell">(51-52)</td>
            <td class="table-row-cell">(53-54)</td>
            <td class="table-row-cell">(55-56)</td>
            <td class="table-row-cell">(57-58)</td>
          </tr>
        </tbody>
         
        <tbody class="Table__body">          
            <tr class="TableRow">
            <td class="table-row-cell">Length (cm)</td>
            <td class="table-row-cell">80</td>
            <td class="table-row-cell">85</td>
            <td class="table-row-cell">90</td>
            <td class="table-row-cell">95</td>
            <td class="table-row-cell">100</td>
            <td class="table-row-cell">105</td>
            <td class="table-row-cell">110</td>
            <td class="table-row-cell">115</td>
            <td class="table-row-cell">125</td>
            <td class="table-row-cell">130</td>
            <td class="table-row-cell">135</td>
            <td class="table-row-cell">140</td>
            <td class="table-row-cell">145</td>
          </tr>
        </tbody>
    	</table>
      
        <div class="size-subhead">
      <h2>Knitwear</h2>
    </div>
    
       <table class="Table  variant-TableRow">
        <thead class="Table__header">
          <tr class="Table__header-row ">
            <th class="Table__header-cell" style="--width:auto;">Metric Sizes</th>
            <th class="Table__header-cell" style="--width:auto;">XXXS</th>
            <th class="Table__header-cell" style="--width:auto;">XXS</th>
            <th class="Table__header-cell" style="--width:auto;">XS</th>
            <th class="Table__header-cell" style="--width:auto;">S</th>
            <th class="Table__header-cell" style="--width:auto;">M</th>
            <th class="Table__header-cell" style="--width:auto;">L</th>
            <th class="Table__header-cell" style="--width:auto;">XL</th>
            <th class="Table__header-cell" style="--width:auto;">XXL</th>
            <th class="Table__header-cell" style="--width:auto;">3XL</th>
            <th class="Table__header-cell" style="--width:auto;">4XL</th>
          </tr>
        </thead>
        
         <tbody class="Table__body">          
            <tr class="TableRow">
            <td class="table-row-cell">To Fit Neck (cm)</td>
            <td class="table-row-cell">10</td>
            <td class="table-row-cell">12</td>
            <td class="table-row-cell">14</td>
            <td class="table-row-cell">16</td>
            <td class="table-row-cell">18</td>
            <td class="table-row-cell">20</td>
            <td class="table-row-cell">22</td>
            <td class="table-row-cell">24</td>
            <td class="table-row-cell">26</td>
            <td class="table-row-cell">28</td>
          </tr>
        </tbody>
         
        <tbody class="Table__body">          
            <tr class="TableRow">
            <td class="table-row-cell">Length (cm)</td>
            <td class="table-row-cell">75-80</td>
            <td class="table-row-cell">80-85</td>
            <td class="table-row-cell">85-90</td>
            <td class="table-row-cell">90-95</td>
            <td class="table-row-cell">95-100</td>
            <td class="table-row-cell">100-110</td>
            <td class="table-row-cell">110-120</td>
            <td class="table-row-cell">120-130</td>
            <td class="table-row-cell">130-135</td>
            <td class="table-row-cell">135-140</td>
          </tr>
        </tbody>
    	</table>
      
          <div class="size-subhead">
      <h2>Elastic Waist Pants and Shorts</h2>
    </div>
    
       <table class="Table  variant-TableRow">
        <thead class="Table__header">
          <tr class="Table__header-row ">
            <th class="Table__header-cell" style="--width:auto;">Metric Sizes</th>
            <th class="Table__header-cell" style="--width:auto;">XS</th>
            <th class="Table__header-cell" style="--width:auto;">S</th>
            <th class="Table__header-cell" style="--width:auto;">M</th>
            <th class="Table__header-cell" style="--width:auto;">L</th>
            <th class="Table__header-cell" style="--width:auto;">XL</th>
            <th class="Table__header-cell" style="--width:auto;">XXL</th>
            <th class="Table__header-cell" style="--width:auto;">3XL</th>
            <th class="Table__header-cell" style="--width:auto;">4XL</th>
            <th class="Table__header-cell" style="--width:auto;">5XL</th>
          </tr>
        </thead>
        
         <tbody class="Table__body">          
            <tr class="TableRow">
            <td class="table-row-cell">To Fit Neck (cm)</td>
            <td class="table-row-cell">70-75</td>
            <td class="table-row-cell">75-85</td>
            <td class="table-row-cell">85-90</td>
            <td class="table-row-cell">90-95</td>
            <td class="table-row-cell">95-105</td>
            <td class="table-row-cell">105-115</td>
            <td class="table-row-cell">115-125</td>
            <td class="table-row-cell">125-130</td>
            <td class="table-row-cell">130-140</td>
          </tr>
        </tbody>
      </table>
      
    <div class="size-subhead">
      <h2>T-Shirts, Polos and Fleece Tops</h2>
    </div>
        <table class="Table  variant-TableRow">
        <thead class="Table__header">
          <tr class="Table__header-row ">
            <th class="Table__header-cell" style="--width:auto;">Metric Sizes</th>
            <th class="Table__header-cell" style="--width:auto;">XXS</th>
            <th class="Table__header-cell" style="--width:auto;">XS</th>
            <th class="Table__header-cell" style="--width:auto;">S</th>
            <th class="Table__header-cell" style="--width:auto;">M</th>
            <th class="Table__header-cell" style="--width:auto;">L</th>
            <th class="Table__header-cell" style="--width:auto;">XL</th>
            <th class="Table__header-cell" style="--width:auto;">XXL</th>
            <th class="Table__header-cell" style="--width:auto;">3XL</th>
            <th class="Table__header-cell" style="--width:auto;">4XL</th>
            <th class="Table__header-cell" style="--width:auto;">5XL</th>
            <th class="Table__header-cell" style="--width:auto;">6XL</th>
            <th class="Table__header-cell" style="--width:auto;">7XL</th>
          </tr>
        </thead>
          
         <tbody class="Table__body">          
            <tr class="TableRow">
            <td class="table-row-cell">To Fit Neck (cm)</td>
            <td class="table-row-cell">80-85</td>
            <td class="table-row-cell">85-90</td>
            <td class="table-row-cell">90-95</td>
            <td class="table-row-cell">95-100</td>
            <td class="table-row-cell">100-110</td>
            <td class="table-row-cell">110-115</td>
            <td class="table-row-cell">115-120</td>
            <td class="table-row-cell">120-130</td>
            <td class="table-row-cell">130-140</td>
            <td class="table-row-cell">140-150</td>
            <td class="table-row-cell">150-160</td>
            <td class="table-row-cell">160-170</td>
          </tr>
        </tbody>
      </table>
      
    <div class="size-subhead">
      <h2>Womens Sizes</h2>
    </div>
        <table class="Table  variant-TableRow">
        <thead class="Table__header">
          <tr class="Table__header-row ">
            <th class="Table__header-cell" style="--width:auto;">Metric Sizes</th>
            <th class="Table__header-cell" style="--width:auto;">6</th>
            <th class="Table__header-cell" style="--width:auto;">8</th>
            <th class="Table__header-cell" style="--width:auto;">10</th>
            <th class="Table__header-cell" style="--width:auto;">12</th>
            <th class="Table__header-cell" style="--width:auto;">14</th>
            <th class="Table__header-cell" style="--width:auto;">16</th>
            <th class="Table__header-cell" style="--width:auto;">18</th>
            <th class="Table__header-cell" style="--width:auto;">20</th>
            <th class="Table__header-cell" style="--width:auto;">22</th>
            <th class="Table__header-cell" style="--width:auto;">24</th>
            <th class="Table__header-cell" style="--width:auto;">26</th>
          </tr>
        </thead>
          
         <tbody class="Table__body">          
            <tr class="TableRow">
            <td class="table-row-cell">To Fit Bust (cm)</td>
            <td class="table-row-cell">81</td>
            <td class="table-row-cell">87</td>
            <td class="table-row-cell">91</td>
            <td class="table-row-cell">97</td>
            <td class="table-row-cell">101</td>
            <td class="table-row-cell">106</td>
            <td class="table-row-cell">111</td>
            <td class="table-row-cell">116</td>
            <td class="table-row-cell">121</td>
            <td class="table-row-cell">126</td>
            <td class="table-row-cell">129</td>
          </tr>
        </tbody>
          
            <tbody class="Table__body">          
            <tr class="TableRow">
            <td class="table-row-cell">To Fit Waist (cm)</td>
            <td class="table-row-cell">57</td>
            <td class="table-row-cell">62</td>
            <td class="table-row-cell">67</td>
            <td class="table-row-cell">72</td>
            <td class="table-row-cell">77</td>
            <td class="table-row-cell">82</td>
            <td class="table-row-cell">87</td>
            <td class="table-row-cell">92</td>
            <td class="table-row-cell">97</td>
            <td class="table-row-cell">102</td>
            <td class="table-row-cell">107</td>
          </tr>
        </tbody>
          
            <tbody class="Table__body">          
            <tr class="TableRow">
            <td class="table-row-cell">To Fit Bust (cm)</td>
            <td class="table-row-cell">87</td>
            <td class="table-row-cell">92</td>
            <td class="table-row-cell">97</td>
            <td class="table-row-cell">102</td>
            <td class="table-row-cell">107</td>
            <td class="table-row-cell">112</td>
            <td class="table-row-cell">117</td>
            <td class="table-row-cell">122</td>
            <td class="table-row-cell">127</td>
            <td class="table-row-cell">132</td>
            <td class="table-row-cell">137</td>
          </tr>
        </tbody>
      </table>
    </div>
    
    <div class="Table__Text">
      <div class="text">
      
        <h2>Please Note:</h2>
        
        <ul>
          <li>These size chart measurements are to fit your actual body. The measurements are not of the garment.</li>
          <li>Please refer to “How to Measure" and use as guide only</li>
          <li>The best method to get correct sizing is to purohasa sample sizes then try them on.</li>
        </ul>
      </div>
    </div>
  </div>
</div>