<div class="size-chart">
  <div class="container">
    <div class="size-head">
      <h2>Mens Clothes</h2>
      <hr>
    </div>
    
    <div class="size-subhead">
      <h2>Mens Work Shirts</h2>
    </div>
    
    <div class="table">
      <table class="Table  variant-TableRow">
        <thead class="Table__header">
          <tr class="Table__header-row ">
            <th class="Table__header-cell" style="--width:auto;">Metric Sizes</th>
            <th class="Table__header-cell" style="--width:auto;">XXS</th>
            <th class="Table__header-cell" style="--width:auto;">XS</th>
            <th class="Table__header-cell" style="--width:auto;">S</th>
            <th class="Table__header-cell" style="--width:auto;">M</th>
            <th class="Table__header-cell" style="--width:auto;">L</th>
            <th class="Table__header-cell" style="--width:auto;">XL</th>
            <th class="Table__header-cell" style="--width:auto;">2XL</th>
            <th class="Table__header-cell" style="--width:auto;">3XL</th>
            <th class="Table__header-cell" style="--width:auto;">4XL</th>
            <th class="Table__header-cell" style="--width:auto;">5XL</th>
            <th class="Table__header-cell" style="--width:auto;">6XL</th>
            <th class="Table__header-cell" style="--width:auto;">8XL</th>
          </tr>
        </thead>
        
        <tbody class="Table__body">
          <tr class="TableRow">
            <td class="table-row-cell">1/2 Chest (cm)</td>
            <td class="table-row-cell">50</td>
            <td class="table-row-cell">53</td>
            <td class="table-row-cell">56</td>
            <td class="table-row-cell">59</td>
            <td class="table-row-cell">62</td>
            <td class="table-row-cell">66</td>
            <td class="table-row-cell">70</td>
            <td class="table-row-cell">74</td>
            <td class="table-row-cell">77</td>
            <td class="table-row-cell">80</td>
            <td class="table-row-cell">83</td>
            <td class="table-row-cell">89</td>
          </tr>
          
          <tr class="TableRow">
          	<td class="table-row-cell">Body Length(cm) (Round Hem)</td>
            <td class="table-row-cell">74</td>
            <td class="table-row-cell">76</td>
            <td class="table-row-cell">78</td>
            <td class="table-row-cell">80</td>
            <td class="table-row-cell">82</td>
            <td class="table-row-cell">84</td>
            <td class="table-row-cell">86</td>
            <td class="table-row-cell">88</td>
            <td class="table-row-cell">88</td>
            <td class="table-row-cell">89</td>
            <td class="table-row-cell">89</td>
            <td class="table-row-cell">91</td>
          </tr>
          
           <tr class="TableRow">
          	<td class="table-row-cell">Body Length(cm) (Flat Hem)</td>
            <td class="table-row-cell">69</td>
            <td class="table-row-cell">71</td>
            <td class="table-row-cell">73</td>
            <td class="table-row-cell">75</td>
            <td class="table-row-cell">77</td>
            <td class="table-row-cell">79</td>
            <td class="table-row-cell">81</td>
            <td class="table-row-cell">83</td>
            <td class="table-row-cell">83</td>
            <td class="table-row-cell">84</td>
            <td class="table-row-cell">86</td>
            <td class="table-row-cell">88</td>
          </tr>
        </tbody>
      </table>
      
      <div class="size-subhead">
         <h2>Mens Cargo Shorts</h2>
      </div>
      
      <table class="Table  variant-TableRow">
        <thead class="Table__header">
          <tr class="Table__header-row ">
            <th class="Table__header-cell" style="--width:auto;">Metric Sizes</th>
            <th class="Table__header-cell" style="--width:auto;">72R</th>
            <th class="Table__header-cell" style="--width:auto;">77R</th>
            <th class="Table__header-cell" style="--width:auto;">82R</th>
            <th class="Table__header-cell" style="--width:auto;">87R</th>
            <th class="Table__header-cell" style="--width:auto;">92R</th>
            <th class="Table__header-cell" style="--width:auto;">97R</th>
            <th class="Table__header-cell" style="--width:auto;">102R</th>
            <th class="Table__header-cell" style="--width:auto;">107R</th>
            <th class="Table__header-cell" style="--width:auto;">112R</th>
            <th class="Table__header-cell" style="--width:auto;">117R</th>
            <th class="Table__header-cell" style="--width:auto;">122R</th>
            <th class="Table__header-cell" style="--width:auto;">127R</th>
            <th class="Table__header-cell" style="--width:auto;">132R</th>
          </tr>
        </thead>
        
        <tbody class="Table__body">
          <tr class="TableRow">
            <td class="table-row-cell">Waist(cm) Pants</td>
            <td class="table-row-cell">72</td>
            <td class="table-row-cell">77</td>
            <td class="table-row-cell">82</td>
            <td class="table-row-cell">87</td>
            <td class="table-row-cell">92</td>
            <td class="table-row-cell">97</td>
            <td class="table-row-cell">102</td>
            <td class="table-row-cell">107</td>
            <td class="table-row-cell">112</td>
            <td class="table-row-cell">117</td>
            <td class="table-row-cell">74</td>
            <td class="table-row-cell">79</td>
            <td class="table-row-cell">84</td>
          </tr>
          
          <tr class="TableRow">
          	<td class="table-row-cell">Inner Leg(cm)</td>
            <td class="table-row-cell">23</td>
            <td class="table-row-cell">23</td>
            <td class="table-row-cell">25</td>
            <td class="table-row-cell">25</td>
            <td class="table-row-cell">25</td>
            <td class="table-row-cell">25</td>
            <td class="table-row-cell">27</td>
            <td class="table-row-cell">27</td>
            <td class="table-row-cell">27</td>
            <td class="table-row-cell">29</td>
            <td class="table-row-cell">29</td>
            <td class="table-row-cell">29</td>
            <td class="table-row-cell">29</td>
          </tr>
        </tbody>
      </table>
      
      <div class="size-subhead">
         <h2>Mens Overalls, Pants (Overalls normally worn one size larger than pants & shorts)</h2>
      </div>
      
        <table class="Table  variant-TableRow">
        <thead class="Table__header">
          <tr class="Table__header-row ">
            <th class="Table__header-cell" style="--width:auto;">Metric Sizes</th>
            <th class="Table__header-cell" style="--width:auto;">72R</th>
            <th class="Table__header-cell" style="--width:auto;">77R</th>
            <th class="Table__header-cell" style="--width:auto;">82R</th>
            <th class="Table__header-cell" style="--width:auto;">87R</th>
            <th class="Table__header-cell" style="--width:auto;">92R</th>
            <th class="Table__header-cell" style="--width:auto;">97R</th>
            <th class="Table__header-cell" style="--width:auto;">102R</th>
            <th class="Table__header-cell" style="--width:auto;">107R</th>
            <th class="Table__header-cell" style="--width:auto;">112R</th>
            <th class="Table__header-cell" style="--width:auto;">117R</th>
            <th class="Table__header-cell" style="--width:auto;">74L</th>
            <th class="Table__header-cell" style="--width:auto;">79L</th>
            <th class="Table__header-cell" style="--width:auto;">84L</th>
            <th class="Table__header-cell" style="--width:auto;">89L</th>
            <th class="Table__header-cell" style="--width:auto;">94L</th>
          </tr>
        </thead>
        
        <tbody class="Table__body">
          
            <tr class="TableRow">
            <td class="table-row-cell">1/2 Chest (cm) overalls</td>
            <td class="table-row-cell">-</td>
            <td class="table-row-cell">51</td>
            <td class="table-row-cell">53.5</td>
            <td class="table-row-cell">56</td>
            <td class="table-row-cell">58.5</td>
            <td class="table-row-cell">61</td>
            <td class="table-row-cell">63.5</td>
            <td class="table-row-cell">66</td>
            <td class="table-row-cell">68.5</td>
            <td class="table-row-cell">71</td>
            <td class="table-row-cell">-</td>
            <td class="table-row-cell">-</td>
            <td class="table-row-cell">-</td>
            <td class="table-row-cell">-</td>
            <td class="table-row-cell">-</td>
          </tr>
          
          <tr class="TableRow">
            <td class="table-row-cell">Waist(cm) Pants</td>
            <td class="table-row-cell">72</td>
            <td class="table-row-cell">77</td>
            <td class="table-row-cell">82</td>
            <td class="table-row-cell">87</td>
            <td class="table-row-cell">92</td>
            <td class="table-row-cell">97</td>
            <td class="table-row-cell">102</td>
            <td class="table-row-cell">107</td>
            <td class="table-row-cell">112</td>
            <td class="table-row-cell">117</td>
            <td class="table-row-cell">74</td>
            <td class="table-row-cell">79</td>
            <td class="table-row-cell">84</td>
            <td class="table-row-cell">89</td>
            <td class="table-row-cell">94</td>
          </tr>
          
          <tr class="TableRow">
          	<td class="table-row-cell">Inner Leg(cm)</td>
            <td class="table-row-cell">71</td>
            <td class="table-row-cell">74</td>
            <td class="table-row-cell">77</td>
            <td class="table-row-cell">79</td>
            <td class="table-row-cell">82</td>
            <td class="table-row-cell">83</td>
            <td class="table-row-cell">84</td>
            <td class="table-row-cell">85</td>
            <td class="table-row-cell">87</td>
            <td class="table-row-cell">89</td>
            <td class="table-row-cell">79</td>
            <td class="table-row-cell">80</td>
            <td class="table-row-cell">83</td>
            <td class="table-row-cell">85</td>
            <td class="table-row-cell">87</td>
          </tr>
        </tbody>
      </table>
      
      <table class="Table  variant-TableRow">
        <thead class="Table__header">
          <tr class="Table__header-row ">
            <th class="Table__header-cell" style="--width:auto;">Metric Sizes</th>
            <th class="Table__header-cell" style="--width:auto;">87S</th>
            <th class="Table__header-cell" style="--width:auto;">92S</th>
            <th class="Table__header-cell" style="--width:auto;">97S</th>
            <th class="Table__header-cell" style="--width:auto;">102S</th>
            <th class="Table__header-cell" style="--width:auto;">107S</th>
            <th class="Table__header-cell" style="--width:auto;">112S</th>
            <th class="Table__header-cell" style="--width:auto;">117S</th>
            <th class="Table__header-cell" style="--width:auto;">122S</th>
            <th class="Table__header-cell" style="--width:auto;">127S</th>
            <th class="Table__header-cell" style="--width:auto;">132S</th>
          </tr>
        </thead>
        
        <tbody class="Table__body">
          
            <tr class="TableRow">
            <td class="table-row-cell">1/2 Chest (cm) overalls</td>
            <td class="table-row-cell">-</td>
            <td class="table-row-cell">58.5</td>
            <td class="table-row-cell">61</td>
            <td class="table-row-cell">63.5</td>
            <td class="table-row-cell">66</td>
            <td class="table-row-cell">68.5</td>
            <td class="table-row-cell">71</td>
            <td class="table-row-cell">73.5</td>
            <td class="table-row-cell">76</td>
            <td class="table-row-cell">80</td>
          </tr>
          
          <tr class="TableRow">
            <td class="table-row-cell">Waist(cm) Pants</td>
            <td class="table-row-cell">87</td>
            <td class="table-row-cell">92</td>
            <td class="table-row-cell">97</td>
            <td class="table-row-cell">102</td>
            <td class="table-row-cell">107</td>
            <td class="table-row-cell">112</td>
            <td class="table-row-cell">117</td>
            <td class="table-row-cell">122</td>
            <td class="table-row-cell">127</td>
            <td class="table-row-cell">132</td>
          </tr>
          
          <tr class="TableRow">
          	<td class="table-row-cell">Inner Leg(cm)</td>
            <td class="table-row-cell">69</td>
            <td class="table-row-cell">72</td>
            <td class="table-row-cell">74</td>
            <td class="table-row-cell">77</td>
            <td class="table-row-cell">79</td>
            <td class="table-row-cell">80</td>
            <td class="table-row-cell">80</td>
            <td class="table-row-cell">82</td>
            <td class="table-row-cell">82</td>
            <td class="table-row-cell">83</td>
          </tr>
        </tbody>
      </table>
      
      
       <div class="size-subhead">
         <h2>Mens Singlet</h2>
      </div>
      
        <table class="Table  variant-TableRow">
        <thead class="Table__header">
          <tr class="Table__header-row ">
            <th class="Table__header-cell" style="--width:auto;">Metric Sizes</th>
            <th class="Table__header-cell" style="--width:auto;">XS</th>
            <th class="Table__header-cell" style="--width:auto;">S</th>
            <th class="Table__header-cell" style="--width:auto;">M</th>
            <th class="Table__header-cell" style="--width:auto;">L</th>
            <th class="Table__header-cell" style="--width:auto;">XL</th>
            <th class="Table__header-cell" style="--width:auto;">XXL</th>
            <th class="Table__header-cell" style="--width:auto;">3XL</th>
            <th class="Table__header-cell" style="--width:auto;">4XL</th>
            <th class="Table__header-cell" style="--width:auto;">5XL</th>
          </tr>
        </thead>
        
        <tbody class="Table__body">
          
            <tr class="TableRow">
            <td class="table-row-cell">1/2 Chest (cm)</td>
            <td class="table-row-cell">49</td>
            <td class="table-row-cell">51.5</td>
            <td class="table-row-cell">54</td>
            <td class="table-row-cell">56.5</td>
            <td class="table-row-cell">59</td>
            <td class="table-row-cell">61.5</td>
            <td class="table-row-cell">64</td>
            <td class="table-row-cell">66.5</td>
            <td class="table-row-cell">69</td>
          </tr>
          
          <tr class="TableRow">
            <td class="table-row-cell">Body Length (cm)</td>
            <td class="table-row-cell">65</td>
            <td class="table-row-cell">66</td>
            <td class="table-row-cell">67</td>
            <td class="table-row-cell">68</td>
            <td class="table-row-cell">69</td>
            <td class="table-row-cell">70</td>
            <td class="table-row-cell">71</td>
            <td class="table-row-cell">72</td>
            <td class="table-row-cell">73</td>
          </tr>
        </tbody>
      </table>
      
       <div class="size-subhead">
         <h2>Mens Tees & Polos</h2>
      </div>
      
        <table class="Table  variant-TableRow">
        <thead class="Table__header">
          <tr class="Table__header-row ">
            <th class="Table__header-cell" style="--width:auto;">Metric Sizes</th>
            <th class="Table__header-cell" style="--width:auto;">XS</th>
            <th class="Table__header-cell" style="--width:auto;">S</th>
            <th class="Table__header-cell" style="--width:auto;">M</th>
            <th class="Table__header-cell" style="--width:auto;">L</th>
            <th class="Table__header-cell" style="--width:auto;">XL</th>
            <th class="Table__header-cell" style="--width:auto;">2XL</th>
            <th class="Table__header-cell" style="--width:auto;">3XL</th>
            <th class="Table__header-cell" style="--width:auto;">4XL</th>
            <th class="Table__header-cell" style="--width:auto;">5XL</th>
            <th class="Table__header-cell" style="--width:auto;">6XL</th>
            <th class="Table__header-cell" style="--width:auto;">7XL</th>
          </tr>
        </thead>
        
        <tbody class="Table__body">
          
            <tr class="TableRow">
            <td class="table-row-cell">1/2 Chest (cm)</td>
            <td class="table-row-cell">51</td>
            <td class="table-row-cell">53</td>
            <td class="table-row-cell">55.5</td>
            <td class="table-row-cell">58</td>
            <td class="table-row-cell">60.5</td>
            <td class="table-row-cell">63</td>
            <td class="table-row-cell">65.5</td>
            <td class="table-row-cell">68</td>
            <td class="table-row-cell">70.5</td>
            <td class="table-row-cell">73</td>
            <td class="table-row-cell">75.5</td>
          </tr>
          
          <tr class="TableRow">
            <td class="table-row-cell">Body Length (cm)</td>
            <td class="table-row-cell">66</td>
            <td class="table-row-cell">67</td>
            <td class="table-row-cell">69.5</td>
            <td class="table-row-cell">72</td>
            <td class="table-row-cell">74.5</td>
            <td class="table-row-cell">77</td>
            <td class="table-row-cell">79</td>
            <td class="table-row-cell">80</td>
            <td class="table-row-cell">80</td>
            <td class="table-row-cell">81</td>
            <td class="table-row-cell">82</td>
          </tr>
        </tbody>
      </table>
      
      <div class="size-subhead">
         <h2>Mens Fleece Top</h2>
      </div>
      
        <table class="Table  variant-TableRow">
        <thead class="Table__header">
          <tr class="Table__header-row ">
            <th class="Table__header-cell" style="--width:auto;">Metric Sizes</th>
            <th class="Table__header-cell" style="--width:auto;">XS</th>
            <th class="Table__header-cell" style="--width:auto;">S</th>
            <th class="Table__header-cell" style="--width:auto;">M</th>
            <th class="Table__header-cell" style="--width:auto;">L</th>
            <th class="Table__header-cell" style="--width:auto;">XL</th>
            <th class="Table__header-cell" style="--width:auto;">2XL</th>
            <th class="Table__header-cell" style="--width:auto;">3XL</th>
            <th class="Table__header-cell" style="--width:auto;">4XL</th>
            <th class="Table__header-cell" style="--width:auto;">5XL</th>
            <th class="Table__header-cell" style="--width:auto;">6XL</th>
            <th class="Table__header-cell" style="--width:auto;">7XL</th>
          </tr>
        </thead>
        
        <tbody class="Table__body">          
            <tr class="TableRow">
            <td class="table-row-cell">1/2 Chest (cm)</td>
            <td class="table-row-cell">51</td>
            <td class="table-row-cell">53</td>
            <td class="table-row-cell">55.5</td>
            <td class="table-row-cell">58</td>
            <td class="table-row-cell">60.5</td>
            <td class="table-row-cell">63</td>
            <td class="table-row-cell">65.5</td>
            <td class="table-row-cell">68</td>
            <td class="table-row-cell">70.5</td>
            <td class="table-row-cell">73</td>
            <td class="table-row-cell">75.5</td>
          </tr>
          
          <tr class="TableRow">
            <td class="table-row-cell">Body Length (cm)</td>
            <td class="table-row-cell">66</td>
            <td class="table-row-cell">67</td>
            <td class="table-row-cell">69.5</td>
            <td class="table-row-cell">72</td>
            <td class="table-row-cell">74.5</td>
            <td class="table-row-cell">77</td>
            <td class="table-row-cell">79</td>
            <td class="table-row-cell">80</td>
            <td class="table-row-cell">80</td>
            <td class="table-row-cell">81</td>
            <td class="table-row-cell">82</td>
          </tr>
        </tbody>
      </table>
      
            <div class="size-subhead">
         <h2>Mens Fleece Top</h2>
      </div>
      
        <table class="Table  variant-TableRow">
        <thead class="Table__header">
          <tr class="Table__header-row ">
            <th class="Table__header-cell" style="--width:auto;">Metric Sizes</th>
            <th class="Table__header-cell" style="--width:auto;">XS</th>
            <th class="Table__header-cell" style="--width:auto;">S</th>
            <th class="Table__header-cell" style="--width:auto;">M</th>
            <th class="Table__header-cell" style="--width:auto;">L</th>
            <th class="Table__header-cell" style="--width:auto;">XL</th>
            <th class="Table__header-cell" style="--width:auto;">2XL</th>
            <th class="Table__header-cell" style="--width:auto;">3XL</th>
            <th class="Table__header-cell" style="--width:auto;">4XL</th>
            <th class="Table__header-cell" style="--width:auto;">5XL</th>
            <th class="Table__header-cell" style="--width:auto;">6XL</th>
            <th class="Table__header-cell" style="--width:auto;">7XL</th>
          </tr>
        </thead>
        
        <tbody class="Table__body">          
            <tr class="TableRow">
            <td class="table-row-cell">1/2 Chest (cm)</td>
            <td class="table-row-cell">52</td>
            <td class="table-row-cell">56.5</td>
            <td class="table-row-cell">59</td>
            <td class="table-row-cell">61.5</td>
            <td class="table-row-cell">64</td>
            <td class="table-row-cell">66.5</td>
            <td class="table-row-cell">69</td>
            <td class="table-row-cell">74</td>
            <td class="table-row-cell">76.5</td>
            <td class="table-row-cell">79</td>
            <td class="table-row-cell">82</td>
          </tr>
          
          <tr class="TableRow">
            <td class="table-row-cell">Body Length Fleecy(cm)</td>
            <td class="table-row-cell">67</td>
            <td class="table-row-cell">69</td>
            <td class="table-row-cell">71</td>
            <td class="table-row-cell">73</td>
            <td class="table-row-cell">75</td>
            <td class="table-row-cell">77</td>
            <td class="table-row-cell">79</td>
            <td class="table-row-cell">81</td>
            <td class="table-row-cell">83</td>
            <td class="table-row-cell">85</td>
            <td class="table-row-cell">87</td>
          </tr>
          
           <tr class="TableRow">
            <td class="table-row-cell">Body LengthPolar Fleece (cm)</td>
            <td class="table-row-cell">64</td>
            <td class="table-row-cell">66</td>
            <td class="table-row-cell">68</td>
            <td class="table-row-cell">70</td>
            <td class="table-row-cell">72</td>
            <td class="table-row-cell">73</td>
            <td class="table-row-cell">74</td>
            <td class="table-row-cell">75</td>
            <td class="table-row-cell">76</td>
            <td class="table-row-cell">88</td>
            <td class="table-row-cell">78</td>
          </tr>
        </tbody>
      </table>
      
       <div class="size-subhead">
         <h2>Mens Polar Fleece Vest</h2>
      </div>
      
        <table class="Table  variant-TableRow">
        <thead class="Table__header">
          <tr class="Table__header-row ">
            <th class="Table__header-cell" style="--width:auto;">Metric Sizes</th>
            <th class="Table__header-cell" style="--width:auto;">XS</th>
            <th class="Table__header-cell" style="--width:auto;">S</th>
            <th class="Table__header-cell" style="--width:auto;">M</th>
            <th class="Table__header-cell" style="--width:auto;">L</th>
            <th class="Table__header-cell" style="--width:auto;">XL</th>
            <th class="Table__header-cell" style="--width:auto;">2XL</th>
            <th class="Table__header-cell" style="--width:auto;">3XL</th>
            <th class="Table__header-cell" style="--width:auto;">4XL</th>
            <th class="Table__header-cell" style="--width:auto;">5XL</th>
          </tr>
        </thead>
        
        <tbody class="Table__body">          
            <tr class="TableRow">
            <td class="table-row-cell">1/2 Chest (cm)</td>
            <td class="table-row-cell">49</td>
            <td class="table-row-cell">54</td>
            <td class="table-row-cell">59</td>
            <td class="table-row-cell">61.5</td>
            <td class="table-row-cell">64</td>
            <td class="table-row-cell">66.5</td>
            <td class="table-row-cell">69</td>
            <td class="table-row-cell">74</td>
            <td class="table-row-cell">76.5</td>
          </tr>
          
          <tr class="TableRow">
            <td class="table-row-cell">Body Length (cm)</td>
            <td class="table-row-cell">62</td>
            <td class="table-row-cell">64</td>
            <td class="table-row-cell">66</td>
            <td class="table-row-cell">68</td>
            <td class="table-row-cell">69</td>
            <td class="table-row-cell">70</td>
            <td class="table-row-cell">71</td>
            <td class="table-row-cell">72</td>
            <td class="table-row-cell">73</td>
          </tr>
        </tbody>
      </table>
      
      <div class="size-subhead">
         <h2>Bluey Jacket</h2>
      </div>
      
        <table class="Table  variant-TableRow">
        <thead class="Table__header">
          <tr class="Table__header-row ">
            <th class="Table__header-cell" style="--width:auto;">Metric Sizes</th>
            <th class="Table__header-cell" style="--width:auto;">S</th>
            <th class="Table__header-cell" style="--width:auto;">M</th>
            <th class="Table__header-cell" style="--width:auto;">L</th>
            <th class="Table__header-cell" style="--width:auto;">XL</th>
            <th class="Table__header-cell" style="--width:auto;">2XL</th>
            <th class="Table__header-cell" style="--width:auto;">3XL</th>
            <th class="Table__header-cell" style="--width:auto;">4XL</th>
            <th class="Table__header-cell" style="--width:auto;">5XL</th>
            <th class="Table__header-cell" style="--width:auto;">6XL</th>
            <th class="Table__header-cell" style="--width:auto;">8XL</th>
          </tr>
        </thead>
        
        <tbody class="Table__body">          
            <tr class="TableRow">
            <td class="table-row-cell">1/2 Chest (cm)</td>
            <td class="table-row-cell">58</td>
            <td class="table-row-cell">60.5</td>
            <td class="table-row-cell">63</td>
            <td class="table-row-cell">66.5</td>
            <td class="table-row-cell">68</td>
            <td class="table-row-cell">70.5</td>
            <td class="table-row-cell">73</td>
            <td class="table-row-cell">75.5</td>
            <td class="table-row-cell">78</td>
            <td class="table-row-cell">80.5</td>
          </tr>
          
          <tr class="TableRow">
            <td class="table-row-cell">Body Length (cm)</td>
            <td class="table-row-cell">71</td>
            <td class="table-row-cell">72</td>
            <td class="table-row-cell">73</td>
            <td class="table-row-cell">74</td>
            <td class="table-row-cell">75</td>
            <td class="table-row-cell">76</td>
            <td class="table-row-cell">77</td>
            <td class="table-row-cell">78</td>
            <td class="table-row-cell">79</td>
            <td class="table-row-cell">80</td>
          </tr>
        </tbody>
      </table>
      
      <div class="size-subhead">
         <h2>Safety Vest</h2>
      </div>
      
        <table class="Table  variant-TableRow">
        <thead class="Table__header">
          <tr class="Table__header-row ">
            <th class="Table__header-cell" style="--width:auto;">Metric Sizes</th>
            <th class="Table__header-cell" style="--width:auto;">S</th>
            <th class="Table__header-cell" style="--width:auto;">M</th>
            <th class="Table__header-cell" style="--width:auto;">L</th>
            <th class="Table__header-cell" style="--width:auto;">XL</th>
            <th class="Table__header-cell" style="--width:auto;">2XL</th>
            <th class="Table__header-cell" style="--width:auto;">3XL</th>
            <th class="Table__header-cell" style="--width:auto;">4XL</th>
            <th class="Table__header-cell" style="--width:auto;">5XL</th>
            <th class="Table__header-cell" style="--width:auto;">6XL</th>
          </tr>
        </thead>
        
        <tbody class="Table__body">          
            <tr class="TableRow">
            <td class="table-row-cell">1/2 Chest (cm)</td>
            <td class="table-row-cell">56.5</td>
            <td class="table-row-cell">59</td>
            <td class="table-row-cell">61.5</td>
            <td class="table-row-cell">64</td>
            <td class="table-row-cell">66.5</td>
            <td class="table-row-cell">69</td>
            <td class="table-row-cell">71.5</td>
            <td class="table-row-cell">74</td>
            <td class="table-row-cell">76.5</td>
          </tr>
          
          <tr class="TableRow">
            <td class="table-row-cell">Body Length (cm)</td>
            <td class="table-row-cell">69</td>
            <td class="table-row-cell">69</td>
            <td class="table-row-cell">73</td>
            <td class="table-row-cell">73</td>
            <td class="table-row-cell">77</td>
            <td class="table-row-cell">77</td>
            <td class="table-row-cell">80</td>
            <td class="table-row-cell">80</td>
            <td class="table-row-cell">80</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>