<div class="size-chart">
  <div class="container">
    <div class="size-head">
      <h2>Womens Clothes</h2>
      <hr>
    </div>
    
    <div class="size-subhead">
      <h2>Cotton Jacket</h2>
    </div>
    
    <div class="table">
       <table class="Table  variant-TableRow">
        <thead class="Table__header">
          <tr class="Table__header-row ">
            <th class="Table__header-cell" style="--width:auto;">Metric Sizes</th>
            <th class="Table__header-cell" style="--width:auto;">XS</th>
            <th class="Table__header-cell" style="--width:auto;">S</th>
            <th class="Table__header-cell" style="--width:auto;">M</th>
            <th class="Table__header-cell" style="--width:auto;">L</th>
            <th class="Table__header-cell" style="--width:auto;">XL</th>
            <th class="Table__header-cell" style="--width:auto;">XXL</th>
            <th class="Table__header-cell" style="--width:auto;">3XL</th>
            <th class="Table__header-cell" style="--width:auto;">4XL</th>
            <th class="Table__header-cell" style="--width:auto;">5XL</th>
            <th class="Table__header-cell" style="--width:auto;">6XL</th>
          </tr>
        </thead>
        
        <tbody class="Table__body">          
            <tr class="TableRow">
            <td class="table-row-cell">1/2 Chest (cm)</td>
            <td class="table-row-cell">56.5</td>
            <td class="table-row-cell">59</td>
            <td class="table-row-cell">61.5</td>
            <td class="table-row-cell">64</td>
            <td class="table-row-cell">66.5</td>
            <td class="table-row-cell">69</td>
            <td class="table-row-cell">71.5</td>
            <td class="table-row-cell">74</td>
            <td class="table-row-cell">76.5</td>
            <td class="table-row-cell">79</td>
          </tr>
          
          <tr class="TableRow">
            <td class="table-row-cell">Body Length (cm)</td>
            <td class="table-row-cell">74</td>
            <td class="table-row-cell">75</td>
            <td class="table-row-cell">76</td>
            <td class="table-row-cell">77</td>
            <td class="table-row-cell">78</td>
            <td class="table-row-cell">79</td>
            <td class="table-row-cell">80</td>
            <td class="table-row-cell">81</td>
            <td class="table-row-cell">82</td>
            <td class="table-row-cell">83</td>
          </tr>
        </tbody>
    	</table>
      
     <div class="size-subhead">
      <h2>Cotton Bomb Jacket</h2>
    </div>
 
       <table class="Table  variant-TableRow">
        <thead class="Table__header">
          <tr class="Table__header-row ">
            <th class="Table__header-cell" style="--width:auto;">Metric Sizes</th>
            <th class="Table__header-cell" style="--width:auto;">S</th>
            <th class="Table__header-cell" style="--width:auto;">M</th>
            <th class="Table__header-cell" style="--width:auto;">L</th>
            <th class="Table__header-cell" style="--width:auto;">XL</th>
            <th class="Table__header-cell" style="--width:auto;">2XL</th>
            <th class="Table__header-cell" style="--width:auto;">3XL</th>
            <th class="Table__header-cell" style="--width:auto;">4XL</th>
            <th class="Table__header-cell" style="--width:auto;">5XL</th>
            <th class="Table__header-cell" style="--width:auto;">6XL</th>
          </tr>
        </thead>
        
        <tbody class="Table__body">          
            <tr class="TableRow">
            <td class="table-row-cell">1/2 Chest (cm)</td>
            <td class="table-row-cell">58</td>
            <td class="table-row-cell">60.5</td>
            <td class="table-row-cell">63</td>
            <td class="table-row-cell">65.5</td>
            <td class="table-row-cell">63</td>
            <td class="table-row-cell">70.5</td>
            <td class="table-row-cell">73</td>
            <td class="table-row-cell">75.5</td>
            <td class="table-row-cell">78</td>
          </tr>
          
          <tr class="TableRow">
            <td class="table-row-cell">Body Length (cm)</td>
            <td class="table-row-cell">66</td>
            <td class="table-row-cell">67.5</td>
            <td class="table-row-cell">69</td>
            <td class="table-row-cell">70.5</td>
            <td class="table-row-cell">72</td>
            <td class="table-row-cell">73.5</td>
            <td class="table-row-cell">75</td>
            <td class="table-row-cell">76.5</td>
            <td class="table-row-cell">78.5</td>
          </tr>
        </tbody>
    	</table>
      
    <div class="size-subhead">
      	<h2>Traditional Chef Jacket</h2>
    </div>
 
       <table class="Table  variant-TableRow">
        <thead class="Table__header">
          <tr class="Table__header-row ">
            <th class="Table__header-cell" style="--width:auto;">Metric Sizes</th>
            <th class="Table__header-cell" style="--width:auto;">XXS</th>
            <th class="Table__header-cell" style="--width:auto;">XL</th>
            <th class="Table__header-cell" style="--width:auto;">S</th>
            <th class="Table__header-cell" style="--width:auto;">M</th>
            <th class="Table__header-cell" style="--width:auto;">L</th>
            <th class="Table__header-cell" style="--width:auto;">XL</th>
            <th class="Table__header-cell" style="--width:auto;">2XL</th>
            <th class="Table__header-cell" style="--width:auto;">3XL</th>
            <th class="Table__header-cell" style="--width:auto;">4XL</th>
          </tr>
        </thead>
        
        <tbody class="Table__body">          
            <tr class="TableRow">
            <td class="table-row-cell">1/2 Chest (cm)</td>
            <td class="table-row-cell">50</td>
            <td class="table-row-cell">52.5</td>
            <td class="table-row-cell">57.5</td>
            <td class="table-row-cell">60.5</td>
            <td class="table-row-cell">63.5</td>
            <td class="table-row-cell">66</td>
            <td class="table-row-cell">69</td>
            <td class="table-row-cell">72</td>
            <td class="table-row-cell">75</td>
          </tr>
          
          <tr class="TableRow">
            <td class="table-row-cell">Body Length (cm)</td>
            <td class="table-row-cell">73</td>
            <td class="table-row-cell">75</td>
            <td class="table-row-cell">78</td>
            <td class="table-row-cell">80</td>
            <td class="table-row-cell">82</td>
            <td class="table-row-cell">84</td>
            <td class="table-row-cell">86</td>
            <td class="table-row-cell">86</td>
            <td class="table-row-cell">87</td>
          </tr>
        </tbody>
    	</table>
      
       <div class="size-subhead">
      	<h2>Traditional Chef Pants</h2>
    </div>
 
       <table class="Table  variant-TableRow">
        <thead class="Table__header">
          <tr class="Table__header-row ">
            <th class="Table__header-cell" style="--width:auto;">Metric Sizes</th>
            <th class="Table__header-cell" style="--width:auto;">XS</th>
            <th class="Table__header-cell" style="--width:auto;">S</th>
            <th class="Table__header-cell" style="--width:auto;">M</th>
            <th class="Table__header-cell" style="--width:auto;">L</th>
            <th class="Table__header-cell" style="--width:auto;">XL</th>
            <th class="Table__header-cell" style="--width:auto;">XXL</th>
            <th class="Table__header-cell" style="--width:auto;">3XL</th>
            <th class="Table__header-cell" style="--width:auto;">4XL</th>
          </tr>
        </thead>
        
        <tbody class="Table__body">          
            <tr class="TableRow">
            <td class="table-row-cell">Stretched Waist(cm)</td>
            <td class="table-row-cell">102</td>
            <td class="table-row-cell">110</td>
            <td class="table-row-cell">118</td>
            <td class="table-row-cell">126</td>
            <td class="table-row-cell">132</td>
            <td class="table-row-cell">138</td>
            <td class="table-row-cell">146</td>
            <td class="table-row-cell">150</td>
          </tr>
          
          <tr class="TableRow">
            <td class="table-row-cell">Length (cm)</td>
            <td class="table-row-cell">95</td>
            <td class="table-row-cell">100</td>
            <td class="table-row-cell">105</td>
            <td class="table-row-cell">110</td>
            <td class="table-row-cell">116</td>
            <td class="table-row-cell">117.5</td>
            <td class="table-row-cell">119</td>
            <td class="table-row-cell">120.5</td>
          </tr>
        </tbody>
    	</table>
      
         <div class="size-subhead">
      	<h2>Ladies Work Shirt</h2>
    </div>
 
       <table class="Table  variant-TableRow">
        <thead class="Table__header">
          <tr class="Table__header-row ">
            <th class="Table__header-cell" style="--width:auto;">Metric Sizes</th>
            <th class="Table__header-cell" style="--width:auto;">8</th>
            <th class="Table__header-cell" style="--width:auto;">10</th>
            <th class="Table__header-cell" style="--width:auto;">12</th>
            <th class="Table__header-cell" style="--width:auto;">14</th>
            <th class="Table__header-cell" style="--width:auto;">16</th>
            <th class="Table__header-cell" style="--width:auto;">18</th>
            <th class="Table__header-cell" style="--width:auto;">20</th>
            <th class="Table__header-cell" style="--width:auto;">22</th>
            <th class="Table__header-cell" style="--width:auto;">24</th>
          </tr>
        </thead>
        
        <tbody class="Table__body">          
            <tr class="TableRow">
            <td class="table-row-cell">Stretched Waist(cm)</td>
            <td class="table-row-cell">51</td>
            <td class="table-row-cell">53</td>
            <td class="table-row-cell">55</td>
            <td class="table-row-cell">57</td>
            <td class="table-row-cell">59</td>
            <td class="table-row-cell">61</td>
            <td class="table-row-cell">63</td>
            <td class="table-row-cell">65</td>
            <td class="table-row-cell">67</td>
          </tr>
          
          <tr class="TableRow">
            <td class="table-row-cell">Length (cm)</td>
            <td class="table-row-cell">65</td>
            <td class="table-row-cell">66</td>
            <td class="table-row-cell">67</td>
            <td class="table-row-cell">68</td>
            <td class="table-row-cell">70</td>
            <td class="table-row-cell">72</td>
            <td class="table-row-cell">74</td>
            <td class="table-row-cell">76</td>
            <td class="table-row-cell">78</td>
          </tr>
        </tbody>
    	</table>
      
      <div class="size-subhead">
      	<h2>Ladies Work Shorts</h2>
    </div>
 
       <table class="Table  variant-TableRow">
        <thead class="Table__header">
          <tr class="Table__header-row ">
            <th class="Table__header-cell" style="--width:auto;">Metric Sizes</th>
            <th class="Table__header-cell" style="--width:auto;">8</th>
            <th class="Table__header-cell" style="--width:auto;">10</th>
            <th class="Table__header-cell" style="--width:auto;">12</th>
            <th class="Table__header-cell" style="--width:auto;">14</th>
            <th class="Table__header-cell" style="--width:auto;">16</th>
            <th class="Table__header-cell" style="--width:auto;">18</th>
            <th class="Table__header-cell" style="--width:auto;">20</th>
            <th class="Table__header-cell" style="--width:auto;">22</th>
            <th class="Table__header-cell" style="--width:auto;">24</th>
          </tr>
        </thead>
        
        <tbody class="Table__body">          
            <tr class="TableRow">
            <td class="table-row-cell">Waist(cm)-Pants</td>
            <td class="table-row-cell">67</td>
            <td class="table-row-cell">72</td>
            <td class="table-row-cell">77</td>
            <td class="table-row-cell">82</td>
            <td class="table-row-cell">87</td>
            <td class="table-row-cell">92</td>
            <td class="table-row-cell">97</td>
            <td class="table-row-cell">102</td>
            <td class="table-row-cell">107</td>
          </tr>
          
          <tr class="TableRow">
            <td class="table-row-cell">Inner Leg (cm)</td>
            <td class="table-row-cell">18</td>
            <td class="table-row-cell">18</td>
            <td class="table-row-cell">18</td>
            <td class="table-row-cell">18</td>
            <td class="table-row-cell">19</td>
            <td class="table-row-cell">19</td>
            <td class="table-row-cell">19</td>
            <td class="table-row-cell">19</td>
            <td class="table-row-cell">19</td>
          </tr>
        </tbody>
    	</table>
      
        
      <div class="size-subhead">
      	<h2>Ladies Work Pants</h2>
    </div>
 
       <table class="Table  variant-TableRow">
        <thead class="Table__header">
          <tr class="Table__header-row ">
            <th class="Table__header-cell" style="--width:auto;">Metric Sizes</th>
            <th class="Table__header-cell" style="--width:auto;">8</th>
            <th class="Table__header-cell" style="--width:auto;">10</th>
            <th class="Table__header-cell" style="--width:auto;">12</th>
            <th class="Table__header-cell" style="--width:auto;">14</th>
            <th class="Table__header-cell" style="--width:auto;">16</th>
            <th class="Table__header-cell" style="--width:auto;">18</th>
            <th class="Table__header-cell" style="--width:auto;">20</th>
            <th class="Table__header-cell" style="--width:auto;">22</th>
            <th class="Table__header-cell" style="--width:auto;">24</th>
          </tr>
        </thead>
        
        <tbody class="Table__body">          
            <tr class="TableRow">
            <td class="table-row-cell">Waist(cm)-Pants</td>
            <td class="table-row-cell">67</td>
            <td class="table-row-cell">72</td>
            <td class="table-row-cell">77</td>
            <td class="table-row-cell">82</td>
            <td class="table-row-cell">87</td>
            <td class="table-row-cell">92</td>
            <td class="table-row-cell">97</td>
            <td class="table-row-cell">102</td>
            <td class="table-row-cell">107</td>
          </tr>
          
          <tr class="TableRow">
            <td class="table-row-cell">Inner Leg (cm)</td>
            <td class="table-row-cell">73</td>
            <td class="table-row-cell">74</td>
            <td class="table-row-cell">75</td>
            <td class="table-row-cell">76</td>
            <td class="table-row-cell">77</td>
            <td class="table-row-cell">78</td>
            <td class="table-row-cell">79</td>
            <td class="table-row-cell">80</td>
            <td class="table-row-cell">80</td>
          </tr>
        </tbody>
    	</table>
      
       <div class="size-subhead">
      	<h2>Ladies Work Pants</h2>
    </div>
 
       <table class="Table  variant-TableRow">
        <thead class="Table__header">
          <tr class="Table__header-row ">
            <th class="Table__header-cell" style="--width:auto;">Metric Sizes</th>
            <th class="Table__header-cell" style="--width:auto;">8</th>
            <th class="Table__header-cell" style="--width:auto;">10</th>
            <th class="Table__header-cell" style="--width:auto;">12</th>
            <th class="Table__header-cell" style="--width:auto;">14</th>
            <th class="Table__header-cell" style="--width:auto;">16</th>
            <th class="Table__header-cell" style="--width:auto;">18</th>
            <th class="Table__header-cell" style="--width:auto;">20</th>
            <th class="Table__header-cell" style="--width:auto;">22</th>
            <th class="Table__header-cell" style="--width:auto;">24</th>
          </tr>
        </thead>
        
        <tbody class="Table__body">          
            <tr class="TableRow">
            <td class="table-row-cell">Waist(cm)-Pants</td>
            <td class="table-row-cell">67</td>
            <td class="table-row-cell">72</td>
            <td class="table-row-cell">77</td>
            <td class="table-row-cell">82</td>
            <td class="table-row-cell">87</td>
            <td class="table-row-cell">92</td>
            <td class="table-row-cell">97</td>
            <td class="table-row-cell">102</td>
            <td class="table-row-cell">107</td>
          </tr>
          
          <tr class="TableRow">
            <td class="table-row-cell">Inner Leg (cm)</td>
            <td class="table-row-cell">73</td>
            <td class="table-row-cell">74</td>
            <td class="table-row-cell">75</td>
            <td class="table-row-cell">76</td>
            <td class="table-row-cell">77</td>
            <td class="table-row-cell">78</td>
            <td class="table-row-cell">79</td>
            <td class="table-row-cell">80</td>
            <td class="table-row-cell">80</td>
          </tr>
        </tbody>
    	</table>
      
      <div class="size-subhead">
      	<h2>Ladies Polos</h2>
    </div>
 
       <table class="Table  variant-TableRow">
        <thead class="Table__header">
          <tr class="Table__header-row ">
            <th class="Table__header-cell" style="--width:auto;">Metric Sizes</th>
            <th class="Table__header-cell" style="--width:auto;">8</th>
            <th class="Table__header-cell" style="--width:auto;">10</th>
            <th class="Table__header-cell" style="--width:auto;">12</th>
            <th class="Table__header-cell" style="--width:auto;">14</th>
            <th class="Table__header-cell" style="--width:auto;">16</th>
            <th class="Table__header-cell" style="--width:auto;">18</th>
            <th class="Table__header-cell" style="--width:auto;">20</th>
            <th class="Table__header-cell" style="--width:auto;">22</th>
            <th class="Table__header-cell" style="--width:auto;">24</th>
          </tr>
        </thead>
        
        <tbody class="Table__body">          
            <tr class="TableRow">
            <td class="table-row-cell">1/2 Chest (cm)</td>
            <td class="table-row-cell">44</td>
            <td class="table-row-cell">46</td>
            <td class="table-row-cell">48</td>
            <td class="table-row-cell">50</td>
            <td class="table-row-cell">52</td>
            <td class="table-row-cell">54</td>
            <td class="table-row-cell">56</td>
            <td class="table-row-cell">58</td>
            <td class="table-row-cell">60</td>
          </tr>
          
          <tr class="TableRow">
            <td class="table-row-cell">Body Length (cm)</td>
            <td class="table-row-cell">54</td>
            <td class="table-row-cell">56</td>
            <td class="table-row-cell">58</td>
            <td class="table-row-cell">60</td>
            <td class="table-row-cell">62</td>
            <td class="table-row-cell">54</td>
            <td class="table-row-cell">66</td>
            <td class="table-row-cell">68</td>
            <td class="table-row-cell">70</td>
          </tr>
        </tbody>
    	</table>
      
       <div class="size-subhead">
      	<h2>Ladies Fleece Tops</h2>
    </div>
 
       <table class="Table  variant-TableRow">
        <thead class="Table__header">
          <tr class="Table__header-row ">
            <th class="Table__header-cell" style="--width:auto;">Metric Sizes</th>
            <th class="Table__header-cell" style="--width:auto;">8</th>
            <th class="Table__header-cell" style="--width:auto;">10</th>
            <th class="Table__header-cell" style="--width:auto;">12</th>
            <th class="Table__header-cell" style="--width:auto;">14</th>
            <th class="Table__header-cell" style="--width:auto;">16</th>
            <th class="Table__header-cell" style="--width:auto;">18</th>
            <th class="Table__header-cell" style="--width:auto;">20</th>
            <th class="Table__header-cell" style="--width:auto;">22</th>
            <th class="Table__header-cell" style="--width:auto;">24</th>
          </tr>
        </thead>
        
        <tbody class="Table__body">          
            <tr class="TableRow">
            <td class="table-row-cell">1/2 Chest (cm)</td>
            <td class="table-row-cell">47.5</td>
            <td class="table-row-cell">49.5</td>
            <td class="table-row-cell">51.5</td>
            <td class="table-row-cell">53.5</td>
            <td class="table-row-cell">55.5</td>
            <td class="table-row-cell">58</td>
            <td class="table-row-cell">61</td>
            <td class="table-row-cell">64</td>
            <td class="table-row-cell">68</td>
          </tr>
          
          <tr class="TableRow">
            <td class="table-row-cell">Body Length (cm)</td>
            <td class="table-row-cell">60</td>
            <td class="table-row-cell">61.5</td>
            <td class="table-row-cell">62.5</td>
            <td class="table-row-cell">64</td>
            <td class="table-row-cell">65.5</td>
            <td class="table-row-cell">67</td>
            <td class="table-row-cell">69.5</td>
            <td class="table-row-cell">71</td>
            <td class="table-row-cell">72.5</td>
          </tr>
        </tbody>
    	</table>
      
       
       <div class="size-subhead">
      	<h2>Kids Singlet</h2>
    </div>
 
       <table class="Table  variant-TableRow">
        <thead class="Table__header">
          <tr class="Table__header-row ">
            <th class="Table__header-cell" style="--width:auto;">Metric Sizes</th>
            <th class="Table__header-cell" style="--width:auto;">4</th>
            <th class="Table__header-cell" style="--width:auto;">6</th>
            <th class="Table__header-cell" style="--width:auto;">8</th>
            <th class="Table__header-cell" style="--width:auto;">10</th>
            <th class="Table__header-cell" style="--width:auto;">12</th>
            <th class="Table__header-cell" style="--width:auto;">14</th>
          </tr>
        </thead>
        
        <tbody class="Table__body">          
            <tr class="TableRow">
            <td class="table-row-cell">1/2 Chest (cm)</td>
            <td class="table-row-cell">33</td>
            <td class="table-row-cell">35</td>
            <td class="table-row-cell">37</td>
            <td class="table-row-cell">40</td>
            <td class="table-row-cell">43</td>
            <td class="table-row-cell">46</td>
          </tr>
          
          <tr class="TableRow">
            <td class="table-row-cell">Body Length (cm)</td>
            <td class="table-row-cell">46</td>
            <td class="table-row-cell">50</td>
            <td class="table-row-cell">54</td>
            <td class="table-row-cell">57</td>
            <td class="table-row-cell">60</td>
            <td class="table-row-cell">63</td>
          </tr>
        </tbody>
    	</table>
      
         <div class="size-subhead">
      	<h2>Kids Polos</h2>
    </div>
 
       <table class="Table  variant-TableRow">
        <thead class="Table__header">
          <tr class="Table__header-row ">
            <th class="Table__header-cell" style="--width:auto;">Metric Sizes</th>
            <th class="Table__header-cell" style="--width:auto;">4</th>
            <th class="Table__header-cell" style="--width:auto;">6</th>
            <th class="Table__header-cell" style="--width:auto;">8</th>
            <th class="Table__header-cell" style="--width:auto;">10</th>
            <th class="Table__header-cell" style="--width:auto;">12</th>
            <th class="Table__header-cell" style="--width:auto;">14</th>
          </tr>
        </thead>
        
        <tbody class="Table__body">          
            <tr class="TableRow">
            <td class="table-row-cell">1/2 Chest (cm)</td>
            <td class="table-row-cell">35</td>
            <td class="table-row-cell">37</td>
            <td class="table-row-cell">39</td>
            <td class="table-row-cell">42</td>
            <td class="table-row-cell">45</td>
            <td class="table-row-cell">48</td>
          </tr>
          
          <tr class="TableRow">
            <td class="table-row-cell">Body Length (cm)</td>
            <td class="table-row-cell">44</td>
            <td class="table-row-cell">49</td>
            <td class="table-row-cell">54</td>
            <td class="table-row-cell">59</td>
            <td class="table-row-cell">63</td>
            <td class="table-row-cell">66</td>
          </tr>
        </tbody>
    	</table>
    </div>
  </div>
</div>