.register-container {
  display: flex;
  flex-direction: column;
  align-items: center
}
.register-header {
  display: flex;
  flex-direction: column;
  text-wrap: wrap;
  width: 100%
}
.js-form-field input {
  width: 100%;
  margin-bottom: 12px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid black;
  padding-left: 8px
}
#tos-error {
  color: #B44720;
  list-style: none;
  margin: 0;
  text-align: center;
  text-transform: none
}
.register-header h1 {
  font-family: var(--heading-font-family);
  color: var(--heading-color);
  font-style: var(--heading-font-style);
  font-size: 28px;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 12px
}
.register-header p {
  margin-bottom: 24px
}
.label-set {
  margin-bottom: 0
}
.js-account-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px !important;
  background: var(--primary-button-background) !important;
  border-radius: 4px !important;
  color: #fff;
  margin-top: 24px;
}
.js-account-submit:hover {
  background: rgba(var(--primary-button-background-rgb),.8) !important
}
.js-form-field {
  position: relative
}
.showpassword {
  position: absolute;
  top: 5px;
  right: 10px;
}